@import "tailwindcss";
@keyframes float{
0%{
    transform: translateY(0px);
}
    50%{
        transform: translateY(-10px) ;

    }

100% {
transform: translateY(0px);


}


}

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}